// Import variables from the main variables partial
.box {
    background-color: rgb(10, 11, 10);
    color: rgb(202, 211, 174);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom:10px;
  }
 