

@media screen and (min-width: 1920px) {
    #nav2,
    #nav3 {
        display: inline-block;
    }

    #hero {
        height: 953px;
    }

    #image,
    #text,
    #image-shape,
    #prod-img-1,
    #prod-img-2,
    #prod-img-3,
    #prod-img-4,
    #share,
    #email,
    #phone,
    #sign-up,
    #socials-1,
    #socials-2,
    #socials-3,
    #socials-4 {
        display: inline-block;
    }

    #image {
        height: 823px;
    }

    #text,
    #image-shape {
        height: 683px;
    }

    #heading,
    #heading-2 {
        height: 343px;
    }

    #prod-img-1,
    #prod-img-2,
    #prod-img-3,
    #prod-img-4 {
        height: 738px;
        display: inline-block;
    }

    #share {
        height: 779px;
    }

    #heading-3 {
        height: 198px;
    }

    #email,
    #phone,
    #sign-up {
        height: 132px;
    }

    #socials-1,
    #socials-2,
    #socials-3,
    #socials-4 {
        height: 98px;
    }
}