

#nav2,
#nav3 {
    display: none;
}

#hero {
    height: 315px;
}

#image,
#image-shape {
    height: 246px;
}

#text {
    display: none;
}

#prod-img-1,
#share,
#email,
#phone,
#sign-up,
#socials-1,
#socials-2,
#socials-3,
#socials-4 {
    height: auto;
}

#prod-img-2,
#prod-img-3,
#prod-img-4 {
    display: none;
}